.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  background-color: #2e2e2e;
}

.header {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: maroon;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid black;
}

.header__links {
  padding: 0 30px;
  text-decoration: none;
  color: mintcream;
  font-size: 30px;
}

.header__links:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: auto;
  background-color: blueviolet;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 18%;
  margin-bottom: 18%;
}

.about__name {
  margin: 0;
  color: mintcream;
  font-size: 90px;
}

.about__job {
  margin-top: 0;
  color: maroon;
  font-size: 50px;
  font-style: italic;
}

.project {
  width: 100%;
  height: auto;
  background-color: blueviolet;
}

.project__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 45%;
  width: 10%;
  height: 50px;
  text-decoration: none;
  font-size: 20px;
  background-color: #2e2e2e;
  color: mintcream;
  border: 1px solid wheat;
  border-radius: 2px;
}

.project__link--strelka {
  margin-left: 5px;
}

.project__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px;
  color: mintcream;
  font-size: 60px;
  text-decoration: underline;
}

.project__example {
  width: 300px;
  height: 300px;
  background-color: #2e2e2e;
  border: 1px solid wheat;
}

.project__example--img {
  width: 300px;
  height: 270px;
}

.project__example--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  color: mintcream;
  quotes: "< " " />";
}

.project__example--text::before {
  content: open-quote;
  color: #2e2e2e;
  font-size: 25px;
  margin-right: 5px;
}

.project__example--text::after {
  content: close-quote;
  color: #2e2e2e;
  font-size: 25px;
  margin-left: 5px;
}

.project__example--text:hover:before, .project__example--text:hover:after {
  color: rgba(255, 255, 0, 0.493);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.project__link:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: maroon;
  border: 1px solid black;
}

.project__link:hover .project__link--strelka {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#examples {
  margin: 0 30% 0 40%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 400px 400px;
      grid-template-columns: 400px 400px 400px;
  -ms-grid-rows: 400px 400px;
      grid-template-rows: 400px 400px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}

.contacts__title {
  margin: 400px 0 1px 0;
  color: mintcream;
  font-size: 50px;
}

.contacts__offer {
  margin-top: 0;
  margin-bottom: 100px;
  color: mintcream;
  font-size: 20px;
}

.contacts__block {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contacts__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 20px;
  text-decoration: none;
}

.contacts__media--name {
  margin-left: 10px;
  font-size: 20px;
  color: mintcream;
}

.contacts__media:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer {
  width: 100%;
  height: auto;
  border-top: 2px solid black;
  background-color: maroon;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__copyrights {
  margin: 0 10px 10px 0;
  color: mintcream;
}

.footer__info {
  margin: 20px 10px 0 0;
  color: mintcream;
}
/*# sourceMappingURL=style.css.map */